body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i
{
  cursor:pointer;
}
.desc
{
justify-self:center;
height: 12rem;
background-color:rgba(255,255,255,.35);
border: .5px;

}
.form-group ,.submit-btn
{
display: flex;
align-items: center;
justify-content: center;
}
.form-control
{
text-align: center;
}
.row
{
  text-align: center;

}
.title
{
height:50px;
background-color:rgba(255,255,255,.35);
border:.3px;
}
.title:focus, .desc:focus{
  background-color: rgba(255,255,255,.35);
}
.form-control:focus,
.form-group:focus,
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus
{
  border: 0px;
    outline:0px !important;
    box-shadow: none;
    -webkit-appearance:none;
}
body
{
background:url("./images/bg1.jpg");
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.icon-con
{
display: flex;
justify-content:space-evenly;

}
.card-body,.card
{
  background-color:transparent;
  background: rgba(255,255,255,0.05);

}
.btn-danger
{
background-color: rgba(250,0,0,.15);

}
@media screen and (max-width: 400px) {
  body 
  {
    background: url("./images/bg2.jpg");
    background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
  
}
}
.modal-btn
{
  display: none;
}
.login-wrapper
{
width: 100%;
height: 100%;
background-color:rgba(255,255, 255,.15)
}
.form-wrapper
{
background-color:rgba(255,255, 255,.15);
border-radius: .5rem;
text-align: center;
position:absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
max-width: 400px;

}
.form-wrapper *
{
background-color:rgba(255,255,255,.15)

}
.form-wrapper button
{
background-color:rgb(126, 126, 199);
}
.bi-person-circle
{
font-size:2rem;
align-self: center;

}