body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
i
{
  cursor:pointer;
}
.desc
{
justify-self:center;
height: 12rem;
background-color:transparent;

}
.form-group ,.submit-btn
{
display: flex;
align-items: center;
justify-content: center;

}
.form-control
{
text-align: center;
}
.row
{
  text-align: center;

}
.title
{
height:50px;
background-color:transparent;

}

body
{
background:url("./images/bg1.jpg");
background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.icon-con
{
display: flex;
justify-content:space-evenly;

}
.card-body,.card
{
  background-color:transparent;
  background: rgba(255,255,255,0.05);

}
.btn-danger
{
background-color: rgba(250,0,0,.15);

}
@media screen and (max-width: 400px) {
  body 
  {
    background: url("./images/bg2.jpg");
    background-size:cover;
background-repeat: no-repeat;
background-attachment: fixed;
  
}
}
.modal-btn
{
  display: none;
}